.card-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 4vw;
    height: 5vw;
    background-color: cornflowerblue;
    border: 2px white solid;
    border-radius: 5px;
}

.card-rank-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    height: auto;
    width: 100%;
    padding-left: .2vw;
    padding-top: .2vh;
}

.card-suit-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -0.4vh;
}

.card-rank {
    margin-top: -1vh;
    font-weight: bold;
    font-size: 2vw;
}

.card-suitIcon {
    font-weight: bold;
    font-size: 1vw;
}