.chipGraphics-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    flex: 1;
    height: 100%;
}

.chipGraphics-chipStack {
    display: flex;
    width: 1.5vw;
    border-radius: 3px;
}