.game-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 80vw;
    height: 40vw;
    justify-content: start;
    align-items: center;
}

.gameWindow-container {
    height: 100%;
    width: 100%;
    background-color: #4d4d4d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.game-table {
    position: absolute;
    background-color: #35654d;
    width: 60vw;
    height: 40%;
    border-radius: 15% 15%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    box-shadow: black 5px 5px 0px 0px;
    z-index: -1;
}

.game-rowOfPlayers {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}