.player-container {
    display: flex;
    flex-direction: column;
    width: 10vw;
    height: 11vw;
    background-color: rgba(0, 0, 0, .4);
}

.playerCards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1vh;
}