.lobby-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lobby-inputContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.createLobby-formContainer {
    background-color: green;
    min-width: 20rem;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: gray;
    border-width: 5px;
    border-style: solid;
    gap: 1rem;
    padding: 1rem;
}