.lobby-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.lobby-inputContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.lobby-formContainer {
    box-sizing: border-box;
    background-color: rgba(50, 150, 100, 0.3);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    gap: 1rem;
    padding: 1rem;
    max-width: 70rem;
}

.lobby-nameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.lobby-lobbyName {
    margin-top: -1.5rem;
    font-size: 45pt;
}

.lobby-playersContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.findLobby-gridContainer {
    box-sizing: border-box;
    width: 170%;
    height: 100%;
    background-color: rgba(250, 250, 250, 0.1);
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    overflow-y: scroll;
}

.findLobby-gridCellContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    width: 100%;
    border-color: rgba(250, 250, 250, 0.4);
    border-style: solid;
    border-width: 2px;
    background-color: rgba(140, 0, 50, 0.6);
    padding: 1rem;
}

.findLobby-gridCellContainer:hover {
    background-color: rgba(140, 50, 100, 0.5);
}